.Main-window {
    margin-top: 80px;
    border-top: 1px solid black;
        box-shadow: 0 -5px 10px black;
        padding-top: 15px;
        padding-bottom: 30px;
        font-family: Arial, Helvetica, sans-serif;
}