.universal-form {
    &__form {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        @media(min-width: 480px) {
                width: 60%;
                margin: 0 auto;
            }
        
            @media(min-width: 770px) {
                width: 50%;
        
            }
        
            @media(min-width: 1024px) {
                width: 40%;
        
            }
        
            @media(min-width: 1200px) {
                width: 30%;
            }
            
        h4 {
            text-align: center;
            margin: 0 auto 15px;
                padding-top: 20px;
        }

        label {
            position: relative;
            margin: 5px 0 5px 5px;

            input {
                position: absolute;
                right: 10px;
            }
        }
    }

    &__info {
        width: 100%;
        margin: 30px 0;
        text-align: center;
        border: 1px solid black;
        padding: 10px 0;
        @media(min-width: 480px) {
                width: 60%;
                margin: 30px auto;
            }
    }

}