.Change {
    display: flex;
        flex-direction: column;
    h3 {
        text-align: center;

    }

    &__buttons {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        @media(min-width: 480px) {
                width: 60%;
                margin: 0 auto;
            }
        
            @media(min-width: 770px) {
                width: 50%;
                margin: 0 auto;
            }
        
            @media(min-width: 1024px) {
                width: 40%;
                margin: 0 auto;
            }
        
            @media(min-width: 1200px) {
                width: 30%;
                margin: 0 auto;
            }
    }
button {
    margin-top: 20px;
    @media(min-width: 480px) {
            width: 60%;
            margin: 20px auto;
    
        }
    
        @media(min-width: 770px) {
            width: 50%;
    
        }
    
        @media(min-width: 1024px) {
            width: 40%;
    
        }
    
        @media(min-width: 1200px) {
            width: 30%;
    
        }
}
}