.Files {
    width: 90%;
    margin: 15px 0 10px 5%;
    border: 1px solid black;
    padding: 10px 0 10px 5px;
    @media(min-width: 770px) {
            width: 40%;
        }
    
        h2 {
            text-align: center;
            font-family: Arial, Helvetica;
            font-size: 15px;
            padding-bottom: 4px;
            border-bottom: 1px solid black;
            box-shadow: 3px 3px solid black;
    
        }
}