.Upload-foto {
    width: 90%;
    margin: 15px 0 10px 5%;
    border: 1px solid black;
    padding: 10px 0 10px 5px;
    display: flex;
        flex-direction: column;
    
        @media(min-width: 770px) {
            width: 40%;
    
        }
    
        p:nth-child(1) {
            text-align: center;
            border-bottom: 1px solid black;
            font-size: 15px;
            font-family: Arial, Helvetica;
            padding-bottom: 5px;
        }
    
        p:nth-child(2) {
            text-align: center;
            font-size: 10px;
            margin: 10px auto 20px;
        }
    
        &__info {
            display: flex;
            flex-direction: column;
            margin: 1px solid black;
            box-shadow: 3px 3px 5px black;
            margin: 5px;
            padding: 5px;
            font-family: Arial, Helvetica, sans-serif;
        }
    
        strong {
            margin-top: 10px;
            font-size: 13px;
            font-family: Arial, Helvetica;
        }
}