.Add-notes {
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 20px;
    
        p {
                text-align: center;
                margin: 10px 0;
                font-size: 20px;
                padding: 5px;
            }
    form {
        display: flex;
        flex-direction: column;
        @media(min-width: 480px) {
        
                width: 70%;
                margin: 0 auto;
            }
        
            @media(min-width: 770px) {
                width: 50%;
        
            }
        
            @media(min-width: 1024px) {
                width: 35%;
        
            }
        
            @media(min-width: 1200px) {
                width: 25%;
        
            }

        label {
            display: flex;
            flex-direction: column;
            text-align: center;
            margin: 5px 2px;

            input {
                margin-top: 5px;
            }
        }
    }

}