.Reset-password {
    form {
        padding: 5px;
        margin-top: 15px;
        display: flex;
        flex-direction: column;
        height: 80px;
        justify-content: space-around;
        align-items: flex-start;

        label {
            input {
                position: absolute;
                right: 5px;
            }
        }
    }
}